<script type="text/template" id="menu-template">
    <br/>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Entrée</h3>
        </div>
        <div class="panel-body">
            <table id="starter" class="table table-hover">
                <tr>
                    <th>法文菜名</th>
                    <th>中文菜名</th>
                    <th>价格</th>
                    <th></th>
                </tr>

                <tr>
                    <td><input id="dishName1" value="" class="form-control" placeholder="法文菜名"/></td>
                    <td><input id="dishNameCn1" value="" class="form-control" placeholder="中文菜名"/></td>
                    <td><input id="dishPriceEuro1" value="" size="1"/>,<input size="1" id="dishPriceCentimes1" value="00"/>€ </td>
                    <td><button class="addDish" value="1">添加</button></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Plat</h3>
        </div>
        <div class="panel-body">
            <table id="maincourse" class="table table-hover">
                <tr>
                    <th>法文菜名</th>
                    <th>中文菜名</th>
                    <th>价格</th>
                    <th></th>
                </tr>

                <tr>
                    <td><input id="dishName2" value="" class="form-control" placeholder="法文菜名"/></td>
                    <td><input id="dishNameCn2" value="" class="form-control" placeholder="中文菜名"/></td>
                    <td><input id="dishPriceEuro2" value="" size="1"/>,<input size="1" id="dishPriceCentimes2" value="00"/>€ </td>
                    <td><button class="addDish" value="2">添加</button></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">Dessert</h3>
        </div>
        <div class="panel-body">
            <table id="dessert" class="table table-hover">
                <tr>
                    <th>法文菜名</th>
                    <th>中文菜名</th>
                    <th>价格</th>
                    <th></th>
                </tr>

                <tr>
                    <td><input id="dishName3" value="" class="form-control" placeholder="法文菜名"/></td>
                    <td><input id="dishNameCn3" value="" class="form-control" placeholder="中文菜名"/></td>
                    <td><input id="dishPriceEuro3" value="" size="1"/>,<input size="1" id="dishPriceCentimes3" value="00"/>€ </td>
                    <td><button class="addDish" value="3">添加</button></td>
                </tr>
            </table>
        </div>
    </div>
</script>
<script type="text/template" id="dish-template">
<td><lable class="dishFrenchNameLabel">{{=name}}</lable>
    <input class="dishNameInput"type="text" value="{{=name}}" />
</td>
<td><lable class="dishFrenchNameLabel">{{=namecn}}</lable>
    <input class="dishNameInput"type="text" value="{{=namecn}}" />
</td>
<td><lable class="dishPriceEuroLabel">{{=priceEuro}}</lable><input class="dishNameInput"type="text" value="{{=namecn}}" />.
    <lable class="dishPriceEuroLabel">{{=priceCentimes}}</lable> €</td>
<td>

   <span class="destroy"></span>

</td>
</script>