<script type="text/template" id="menu-template">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Entrée</h3>
        </div>
        <div class="panel-body">
            <table id="starter">

            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Plat</h3>
        </div>
        <div class="panel-body">
            <table id="maincourse">

            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Dessert</h3>
        </div>
        <div class="panel-body">
            <table id="dessert">

            </table>
        </div>
    </div>
</script>